
<!DOCTYPE html>
<html>
<head>
    <title>Movie Added </title>
</head>
<body>
    <h1>Movie Added Successfully </h1>
    <h1>now you will be directed to your cart </h1>
    <meta http-equiv="refresh" content="4;url=/Home/viewAllmovies" />



  

</body>
</html>