@model CinemaProject.ViewModels.StatisticsVM

<div class="container">
    <h2 class="display-6">Project Statistics</h2>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Movies Count</h5>
            <p class="card-text">@Model.MoviesCount</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Actors Count</h5>
            <p class="card-text">@Model.ActorsCount</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Words Count</h5>
            <p class="card-text">@Model.CinemasCount</p>
        </div>
    </div>
</div>