
<div class="alert alert-info" role="alert">
    @ViewData["NotificationMessage"]

@if(@TempData["success-notification"] is not null )
    {
        <script>

            toaster.success(@TempData["success-notification"])
        </script>
    }
    else if (@TempData["error-notification"] is not null)
      {
        <script>
            toaster.success(@TempData["error-notification"])
        </script>
    }
</div>
